header,.header__start,.header__end{
  display: flex;
  align-items: center;
}
header {
  justify-content: space-between;
  padding: 15px 30PX;     
  background-color: #0F172A;
  position: fixed;
  right: 0%;
  left: 0%;
  z-index: 1000;
}
.header__start{
  gap: 50PX;
}
.header__end{
  gap: 20PX; 
}
.header__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header__icons {
  display: flex;
  gap: 10px; 
}
.menu-icon{
  display: none;
}




@media (max-width:685px){
    .categories-menu{
      display: none;
    }
    .menu-icon{
      display: block;
    }
}








 

