.search-bar{
  display: flex;
  align-items: center;
  gap: 8px;  
  border: 1px solid;
  border-radius: 20px;
  padding: 5px 10px;
  width: 120PX;  
}
.search-bar__btn,.search-bar__input{
  background-color: transparent;
  border: none;
}



